<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="secssionCounter" value="2"/>
    <add key="recordCouner" value="100"/>
    <add key="fileMinLength" value="3"/>
    <add key="patientMinLength" value="4"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="Backup" value="OCollectEnterprise"/>
    <add key="GridSize" value="10,20,30"/>
    <add key="Search" value="1"/>
    <add key="SearchMax" value="15"/>
    <add key="CommandTimeOut" value="10000"/>
    <add key="RowCount" value="10000"/>
    <add key="SessionForcetoExpired" value="30"/>
    <add key="FileType" value=".gif,.jpg,.jpeg,.bmp,.png,.ods,odt,.xls,.xlsx,.doc,.txt"/>
  </appSettings>
  <connectionStrings>
    <!--Local DataBse OncoJn19 Admin-->

    <!--Cloud Update-->

    <!--<add name="OncoCollectStudy" connectionString="DdwftAuePHbn1Fsf4jPpZ2K6gW2hoOpvO6Vy1DGK35MAzZQ0u4ZHKYwfDcGUOTTtcK4SK1pVzaE4bytRDWYLGYoe0OOXlPfn/bnc/NYBlBCLJKypca0Mtc84UjOhXO5Q2I49xu6NM3+MW8pUkJD8Ag3Z6byn18PBigq4UzTBI7DJstFH+aOMHOFH9TutXJnOKfeClPNnEBFRG8n8K0HPoXQrAmHoUGG/GaxpA7BRESrkVcElZxcrBvvjLrINRdk7" providerName="System.Data.SqlClient"/>
    <add name="OncoCollectLiveUpdate" connectionString="DdwftAuePHbn1Fsf4jPpZ2K6gW2hoOpvO6Vy1DGK35MAzZQ0u4ZHKYwfDcGUOTTtcK4SK1pVzaE4bytRDWYLGbO6DlU34UhdEsHf31/FqMRMVfDGxGJCeswOx5CC7Z4lG73cXpsU+6jXXZDVEndPeSgNwSwcm3P5JyAHP7mUjMLX4pZSEvrIsjlWJbxvnxVggfLW5V7JJV9Jqjp+6MyfloyHLbxMtkjRoRmTmFL1QuYx+NTivUEKigGnxBLJ8CU4" providerName="System.Data.SqlClient"/>-->

    <!--<add name="OncoCollectEnterprise" connectionString="55HI8QRbdTWZhjL4oJz+CApZsNwIs/WzBFsiMwU4XNltIqo6Eo7wppbGy1/5guqovMnEFlAzjXVjF8lLSQTV11CMD0zP0jfwobiJyeS/eX5IajEOL2GyVxhjj+B0n4zs" providerName="System.Data.SqlClient"/>
    <add name="OncoCollectAudit" connectionString="55HI8QRbdTWZhjL4oJz+CApZsNwIs/WzBFsiMwU4XNldJNFhUHGbtLMNZvT6asshVCqw4WokaaaphcLirSe0zfXXInS1jvedTO9iGXt0mcMwRSgThraP6oye0Ip8SFAx" providerName="System.Data.SqlClient"/>-->

    <!-- CBS DataBase Test-->
    <!--<add name="OncoCollectEnterprise" connectionString="qKakPBtv3SSxHPGnneCFRVCt9pzApn7OJnRaKUSGXQRdQZHyIFHqsQXZbky/AZQuDgjrZS5i11s9cEmlSoYJxLwRn70ton0MrtXBExuaw7c3FaNqQXtYhU8zmPaI12pj" providerName="System.Data.SqlClient"/>
    <add name="OncoCollectAudit" connectionString="qKakPBtv3SSxHPGnneCFRaaBlEYciCVeT8XRKypWXx+NE/ZGtozilxAS6IdkxytI+KrA2lUGvxz9dmDcm5undlDdlJENCOgjkSkadPhTE7Q=" providerName="System.Data.SqlClient"/>
    <add name="OncoCollectStudy" connectionString="qKakPBtv3SSxHPGnneCFRVCt9pzApn7OJnRaKUSGXQTGE8wsZSx3zPrhJkEhXRSACh01xMiQOPpUUDohsuQG1IU6ISu0Xrw0YoWLTDL0QRs=" providerName="System.Data.SqlClient"/>
    <add name="OncoCollectLiveUpdate" connectionString="qKakPBtv3SSxHPGnneCFRVCt9pzApn7OJnRaKUSGXQSjPIgnOGV8w4BuY1TiUyrOD6OQAKYq6XeGXYXVy0tFLO234dU6utjYip/DUgBCH/ksSREc7v1l/g6Wce7vnBSD" providerName="System.Data.SqlClient"/>-->

    <!--CBS DataBase Developement-->
    <add name="OncoCollectEnterprise" connectionString="qKakPBtv3SSxHPGnneCFRVCt9pzApn7OJnRaKUSGXQQ+uEjlMIsmdKTatoWuqpscMYSEMXcKulTWNrekM3rEapBQRueFHX+T21zV8s2LIdKTR5xdhGa5NYFQEWwyPbrw" providerName="System.Data.SqlClient"/>
    <add name="OncoCollectAudit" connectionString="qKakPBtv3SSxHPGnneCFRdvyfUu9fSii+Wm2Ts4YRKh9ZzB3tBN9Hxv/tVsbXpZ3hsAukZhALQPwTnEOQSvl3Ktqj7jJKU8YHsqXU20cNZ8=" providerName="System.Data.SqlClient"/>
    <add name="OncoCollectStudy" connectionString="UJGE2xMHVOdVFc940rsQfnd6kpf7O8fXd1CWeX/Jnt/ZZRr6i54Qny8LjSF7ZBu9R/XOqpc5eybNTxeyqimtcYspCDCKSh63A3OJ/J8ZPs+1nU+Ofu4yOo8kjojUQPgm" providerName="System.Data.SqlClient"/>
    <add name="OncoCollectLiveUpdate" connectionString="qKakPBtv3SSxHPGnneCFRYG9JdlFTCWL9IurU0kH4+7FmebAdG7WOiRQXeNHgMhRbNRHr3XRXP5R1GBmn311QKrTYBZ2ASxUSy80+WrxGBo=" providerName="System.Data.SqlClient"/>




  </connectionStrings>

  <system.web>
    <!--<customErrors mode="Off"></customErrors>-->
    <httpRuntime executionTimeout="100000" maxRequestLength="214748364" />

    <!--SQL Server State Management-->
    <!--<sessionState mode="SQLServer" timeout="20" cookieless="false"  sqlConnectionString="Server=CODE-5;Database=ASPState;User ID=sa;Password=admin123" allowCustomSqlDatabase="true"/>-->

    <!--In Proc Session ManageMent-->
    <sessionState mode="InProc" timeout="20" cookieless="false"></sessionState>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2880">

      </forms>

    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableSessionState="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="Saplin.Controls" assembly="DropDownCheckBoxes"/>
      </controls>
    </pages>


  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>



