/* TOP NAVIGATION */
#topnav{float:left; width:686px; margin-bottom:10px; margin-top:20px; border-bottom:solid 1px #d5d5d5; border-top:solid 1px #e5e5e5;background:#fefefe}
#topnav ul{list-style-type:none; margin:0px; padding:0px 0px 0px 0px;}
#topnav ul li{list-style-type:none; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;background:#fefefe}
#topnav ul li li{padding:0px;}
#topnav ul li:first-child{background-image:none;}
#topnav ul li.active a{color:#f48310;}
#topnav ul li a{color: #9fb022;}
#topnav ul li a:hover{color:#f48310; text-decoration:none}


.jqueryslidemenu ul li ul li ul{border-top:solid 1px #d5d5d5;}
/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{background: #fefefe; /*background of tabs (default state)*/ 
border: 1px solid #d5d5d5;}

.jqueryslidemenu ul li ul li a:hover{ /*sub menus hover style*/
background-color:#fefefe;
}

.jqueryslidemenu div
{
    border-top:solid 1px #d5d5d5;
    background-color:#fefefe;
    }

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{background: #fefefe; /*background of tabs (default state)*/ 
border: 1px solid #d5d5d5;}
/*Top level list items*/
.jqueryslidemenu ul li{
	position: relative;
	display: inline;
	float: left;
	z-index:100;
	font-size:12px;
    font-weight:bold;
    font-family:'Trebuchet MS';
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
	display: block;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
}

* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}
	
/*1st sub level menu*/
.jqueryslidemenu ul li ul{
	position: absolute;
	left: 0px;
	top:24px !important;
	display: block;
	visibility: hidden;
	padding:0px !important;
	padding-top:15px !important;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{display: list-item; float:none;}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
	left: 191px !important;
	top: -1px !important;
	padding-top:0px !important;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
	width: 160px; /*width of sub menus*/
	padding: 6px 15px;
	margin: 0;
	border-top-width:0px!important;
}

.jqueryslidemenu ul li ul li li a{border-width:0px 1px 1px 1px;}


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{position: absolute;	top: 17px;	right: 16px;}

.rightarrowclass{position: absolute; top: 12px;	right: 5px;}

.level1
{
    color:  #92A117;
    background-color: #fefefe;
    /*font-variant: small-caps;*/
    font-family:'Trebuchet MS';
    font-size:12px;
    font-weight:bold;
      width:300px;
      display:inline-flexbox;
}

.level2
{
    color: #92A117;
    font-family: 'Trebuchet MS';
    font-size:12px;
    font-weight:bold;
    background-color: #fefefe;
    margin-left:5px;
}

.level3
{
    color: #92A117;
    background-color: #fefefe;
    font-family: 'Trebuchet MS';
   font-size:12px;
    font-weight:bold;
    margin-left:3px;   
    width:150px; 
}
.TopMenuBar
{
    float:left; width:686px; margin-bottom:10px; margin-top:20px; border:solid 1px #d5d5d5;background:#fefefe; height:40px;
    }
    