body {
    box-sizing: border-box;
    font-family: Arial;
    font-size: 12px;
    min-width:250px;
}


#coColBg {
    background: url(../images/homebg.jpg) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size:cover;
}

/*.contain {
    height: 98%;
    padding: 0px;
    background-image: url(../images/OncoCollectNew1.png) ;
    background-size: contain;
    width: 100% !important;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/



.containMaster {
    width: 100%;
    height: 100%;
    padding: 0px;
    background: none repeat scroll 0 0 #ffffff;
    background-size: contain;
}

.header {
    height: 128px;
    width: 100%;
    /*background: #ffffff;*/
    z-index: 10;
}

.content {
    position: relative;
    /*background: none repeat scroll 0 0 #ffffff;*/
    clear: both;
    width: 100%;
    top: 0px;
    left: 0px;
}

.search {
    /*background: none repeat scroll 0 0 #efefed;*/
    height: 40px;
    padding: 10px;
}




.footer {
    clear: both;
    background: #EFEFED;
    padding: 2px;
    text-align: center;
    color: #00B2D3;
    font-size: 11px;
    border-top: 4px solid #003660;
    width: 100%; /*Code Modified on April 6,2015*/
    background-size: contain;
}

    .footer span {
        display: block;
        color: #96999D;
        font-size: 10px;
    }
/********************/
#menu-bar {
    margin: 0px 0px 0px 0px;
    padding: 6px 6px 4px 6px;
    height: 40px;
    line-height: 100%;
    position: relative;
    z-index: 999;
    float: left;
}

    #menu-bar li {
        margin: 0px 0px 6px 0px;
        padding: 0px 6px 0px 6px;
        float: left;
        position: relative;
        list-style: none;
    }

    #menu-bar a {
        font-weight: bold;
        font-family: arial;
        font-style: normal;
        font-size: 12px;
        color: #E7E5E5;
        text-decoration: none;
        display: block;
        padding: 6px 20px 6px 20px;
        margin: 0;
        margin-bottom: 6px;
    }

    #menu-bar li ul li a {
        margin: 0;
    }

    #menu-bar .active a, #menu-bar li:hover > a {
        color: #FFFFFF;
    }

    #menu-bar ul li:hover a, #menu-bar li:hover li a {
        background: none;
        border: none;
        color: #666;
        -box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    #menu-bar ul a:hover {
        background: #0399D4 !important;
        background: linear-gradient(top, #04ACEC, #0186BA) !important;
        background: -ms-linear-gradient(top, #04ACEC, #0186BA) !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
        background: -moz-linear-gradient(top, #04ACEC, #0186BA) !important;
        color: #FFFFFF !important;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        text-shadow: 2px 2px 3px #FFFFFF;
    }

    #menu-bar ul {
        background: #DDDDDD;
        background: linear-gradient(top, #FFFFFF, #CFCFCF);
        background: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
        background: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);
        display: none;
        margin: 0;
        padding: 0;
        width: 185px;
        position: absolute;
        top: 30px;
        left: 0;
        border: solid 1px #B4B4B4;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-box-shadow: 2px 2px 3px #222222;
        -moz-box-shadow: 2px 2px 3px #222222;
        box-shadow: 2px 2px 3px #222222;
    }

    #menu-bar li:hover > ul {
        display: block;
    }

    #menu-bar ul li {
        float: none;
        margin: 0;
        padding: 0;
    }

    #menu-bar ul a {
        padding: 10px 0px 10px 15px;
        color: #424242 !important;
        font-size: 12px;
        font-style: normal;
        font-family: arial;
        font-weight: normal;
        text-shadow: 2px 2px 3px #FFFFFF;
    }

    #menu-bar ul li:first-child > a {
        border-top-left-radius: 10px;
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        border-top-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topright: 10px;
    }

    #menu-bar ul li:last-child > a {
        border-bottom-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-bottomright: 10px;
    }
/*
 #menu-bar:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
 }
 */
#menu-bar {
    display: inline-block;
}

html[xmlns] #menu-bar {
    display: block;
}

* html #menu-bar {
    height: 1%;
}

#menu {
    /*background: none repeat scroll 0 0 #0099c8;*/
    height: 40px;
}
/************************/

/********************/
#menumaster-bar {
    margin: 0px 0px 0px 0px;
    padding: 6px 6px 4px 6px;
    height: 40px;
    line-height: 100%;
    position: relative;
    z-index: 999;
    float: left;
}

    #menumaster-bar li {
        margin: 0px 0px 6px 0px;
        padding: 0px 6px 0px 6px;
        float: left;
        position: relative;
        list-style: none;
    }

    #menumaster-bar a {
        font-weight: bold;
        font-family: arial;
        font-style: normal;
        font-size: 12px;
        color: #E7E5E5;
        text-decoration: none;
        display: block;
        padding: 6px 20px 6px 20px;
        margin: 0;
        margin-bottom: 6px;
    }

    #menumaster-bar li ul li a {
        margin: 0;
    }

    #menumaster-bar .active a, #menumaster-bar li:hover > a {
        color: #FFFFFF;
    }

    #menumaster-bar ul li:hover a, #menumaster-bar li:hover li a {
        background: none;
        border: none;
        color: #666;
        -box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    #menumaster-bar ul a:hover {
        background: #0399D4 !important;
        background: linear-gradient(top, #04ACEC, #0186BA) !important;
        background: -ms-linear-gradient(top, #04ACEC, #0186BA) !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
        background: -moz-linear-gradient(top, #04ACEC, #0186BA) !important;
        color: #FFFFFF !important;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        text-shadow: 2px 2px 3px #FFFFFF;
    }

    #menumaster-bar ul {
        background: #DDDDDD;
        background: linear-gradient(top, #FFFFFF, #CFCFCF);
        background: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
        background: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);
        display: none;
        margin: 0;
        padding: 0;
        width: 185px;
        position: absolute;
        top: 30px;
        left: 0;
        border: solid 1px #B4B4B4;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-box-shadow: 2px 2px 3px #222222;
        -moz-box-shadow: 2px 2px 3px #222222;
        box-shadow: 2px 2px 3px #222222;
    }

    #menumaster-bar li:hover > ul {
        display: block;
    }

    #menumaster-bar ul li {
        float: none;
        margin: 0;
        padding: 0;
    }

    #menumaster-bar ul a {
        padding: 10px 0px 10px 15px;
        color: #424242 !important;
        font-size: 12px;
        font-style: normal;
        font-family: arial;
        font-weight: normal;
        text-shadow: 2px 2px 3px #FFFFFF;
    }

    #menumaster-bar ul li:first-child > a {
        border-top-left-radius: 10px;
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        border-top-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topright: 10px;
    }

    #menumaster-bar ul li:last-child > a {
        border-bottom-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-bottomright: 10px;
    }
/*
 #menumaster-bar:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
 }
 */
#menumaster-bar {
    display: inline-block;
}

html[xmlns] #menumaster-bar {
    display: block;
}

* html #menumaster-bar {
    height: 1%;
}

#menumaster {
    background: none repeat scroll 0 0 #2a75a9; /*Code modified on March 25,2015 -#0099c8;*/
    height: 40px;
}
/************************/
#userDetail li {
    font-weight: bold;
    list-style: none outside none;
    padding-right: 15px;
    position: relative;
    top: -2px;
}

#userDetail {
    color: #035DC4;
    float: right;
}

tr th {
    background: none repeat scroll 0 0 #c3ebf8;
    padding: 5px;
    font-weight: normal;
    color: #003660;
    text-align: left;
}

.even {
    background: #F2F1EF;
}

.odd {
}

tr td {
    padding: 5px;
}

.pagination {
    background: none repeat scroll 0 0 #c3ebf8;
    color: #003660;
    height: 30px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
}

.disabled {
    color: #D0CCC7;
    padding: 2px;
}

.active {
    padding: 2px;
    color: #003660;
}

.noborder {
    border: none !important;
}

#loginForm {

}

#logImage {
    padding-top: 5px;
}

.loginheader {
    height: 80px;
    width: 100%;
    /*background: #ffffff;*/
    z-index: 10;
}

input.rounded {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    outline: 0;
    -webkit-appearance: none;
}

    input.rounded:focus {
        border-color: #339933;
    }

.txtBx {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    padding: 7px;
    outline: 0;
    border:0;
    /*width:250px;*/
    background: #EBE8DE;
    border-radius:5px;
    margin: 3px;
}

.forgotPassword {
    color: #0099c9;
    font-size: 11px;
    position: relative;
    text-decoration: none;
    top: 7px;
}

.column-left {
    float: left;
    margin-right: 10px;
    padding: 10px 0;
    width: 25%;
    /*width: 20%; Code modified on March 09-2015,Subhashini*/
}

.column-right {
    float: right;
    padding: 10px 0;
    width: 20%; /*!important; Code modified on March 09-2015,Subhashini*/
}

.column-center {
    border: 1px solid #cdd3d0;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px 5px;
    width: 50%;
    float: left;
    /*border: 1px solid #cdd3d0;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px 5px;
    width:50%; /*Code modified on March 09-2015,Subhashini
    float: left;*/
}

.menuList {
    margin: 0px;
    padding: 0px;
}

    .menuList li {
        list-style: none;
        padding: 10px;
        background: #C3EBF8;
        border-bottom: 1px solid #CDD3D0;
        text-indent: 30px;
    }

.inputRadio {
    text-indent: 5px !important;
}

.smallContent {
    margin-bottom: 10px;
}

.reg p span {
    display: block;
    margin-left: 180px;
}

.reg label {
    clear: left;
    display: block;
    float: left;
    width: 160px;
}


#groupElement label {
    clear: both;
    display: inline;
    float: none;
    width: auto;
    padding-right: 5px;
}

#groupElement select {
    width: 100px;
    height: 21px;
}


#groupElement input {
    width: 40px;
}


#groupElement span {
    padding-right: 10px;
}

.MainMenu {
    margin: 0px 0px 0px 0px;
    padding: 6px 6px 4px 6px;
    height: 40px;
    line-height: 100%;
    position: relative;
    z-index: 999;
    float: left;
    font-weight: bold;
    font-family: arial;
    font-style: normal;
    color: White;
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding: 6px 20px 6px 20px;
    margin-bottom: 6px;
}

.button {
        padding:7px 14px;
        border: 1px solid #035DC4;
        background-image: linear-gradient(bottom, #095DB7 0, #76A8E0 100%);
        background-image: linear-gradient(to bottom, #76A8E0 0, #095DB7 100%);
        background-color: #035DC4;
        color: #fff;
        text-shadow: 1px 1px 0px #2B6BB5;
        text-decoration:none;
        border-radius:5px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        margin:5px;
}

    .button:hover {
        background:none #76A8E0;
        border-color: #035DC4;
        text-shadow:none;
        color: #F2F1EF;
        margin:5px;
    }

    .button:active {
        border-top-color: #76A8E0;
        background: #095DB7;
        color: #fff;
        margin:5px;
    }

.dynamictext {
    /*height:20px;
    width:197px;
    font-family:Verdana;
    font-size:11px;
   margin-top:3px;
   background-color:white;
   position:relative;
   margin-left:2px;
   background-color:#FAFAFA;*/
    width: 200px;
    height: 18px;
    border-radius: 0px;
    border: 1px solid #CCC;
    padding: 1px;
    margin-top: 4px;
    color: black;
    font-size: 11px;
    font-family: Verdana;
    box-shadow: 1px 1px 3px #CCC;
}

.lbltext {
    font-family: Verdana;
    font-size: 11px;
}
/*Code added on March 25,2015*/
a {
    text-decoration: none;
    outline: none;
}
